.footer-container {
  background-color: rgb(242, 237, 231);
  color: black;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  display: flex;           /* enables flexbox */
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  text-align: center;      /* center text inside elements */
  flex-direction: column;  /* optional, for stacking items vertically */
}
